head {
	margin-top: 0px; 
	margin-left: 300px;
	margin-right: 300px;
    padding: 0;
	background-color: white;
	font-size: 18px;
	}

img {
	margin-left: 320px;
	padding: 0;
	}
	
body {
  margin-top: 0px;
	margin-left: 300px;
	margin-right: 300px;
    padding: 0;
	background-color: white;
	font-size: 18px;
	}

header,
footer {
border-bottom: 1px solid black; 
}
	
 
    
   
 

 
	
	
